<div class="row v-page-info">
	<div class="col-md-9 v-header">
		<div class="logo">
			<%= image_tag "logo.png", height: 60, width: 60 %>
		</div>
		<div class="title"><b><%= @article.title %></b></div>
		<div class="nav">
			<%= link_to "首页", root_path %>>
			<%= link_to @article.category.name, "/c_#{@article.category.id}" %>
			 2014-10-06 01:02 
			<span class="glyphicon glyphicon-stats" title="播放"></span>
			<%= @article.count %> 
			<span class="glyphicon glyphicon-star" title="赞"></span>
			<%= @article.favout_count %>
		</div>
		<div class="divider"></div>
		
	</div>
	<div class="col-md-3 up-info">
		<div class="row">
			<div class="col-md-3">
				<%= image_tag @article.user.avatar.user_thumb %>
			</div>
			<div class="col-md-9">
				<p><%= link_to @article.user.username %></p>
				<div class="divider"></div>
				<p>
					<%= @article.user.userbrief[0..50] %>
				</p>
				<a href="#" class="btn btn-primary btn-sm"> 关注 </a>
			</div>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-md-9 player">
		<!--<iframe height=522 width=860 src="http://player.youku.com/embed/<%= @article.vid %>" frameborder=0 allowfullscreen></iframe>-->
		<div id="youkuplayer" style="width:860px;height:522px"></div>
	</div>
	<div class="col-md-3 danmu">
		<h5>弹幕</h5>
		<table class="table">
  			<thead>
  				<tr>
  					<th>进度</th>
  					<th>内容</th>
  					<th>发送时间</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr>
  					<td>3:22</td>
  					<td>第一条弹幕</td>
  					<td>9-10 10:33</td>
  				</tr>
  			</tbody>
		</table>
	</div>
</div>
<div class="row share">
	<div class="col-md-4">分享</div>
	<div class="col-md-4"></div>
	<div class="col-md-4 favour"><span class="glyphicon glyphicon-thumbs-up"></span> 赞</div>
</div>
<div class="row">
	<div class="col-md-9 remark">
		<%= @article.remark %>
	</div>
</div>
<div class="row" id="v-comments">
	<div class="col-md-9">
		<h4><b>评论</b></h4>
		<% if signed_in? %>
			<%= form_for @comment, remote: true, url: article_comments_path(@article.id) do |f| %>
				<div class="form-group">
					<div class="row">
						<div class="col-md-2">
							<%= image_tag current_user.avatar.user_thumb %>
							<p><%= current_user.username %></p>
						</div>
						<div class="col-md-9">
							<%= f.text_area :text, class: "form-control" %>
							<%= f.submit "发布评论", class: "btn btn-primary", id: "commit" %>
						</div>
					</div>
				</div>
			<% end %>
		<% else %>
			请先<%= link_to "登陆", "/users/sign_in" %>,再发表评论。
		<% end %>
		<div class="divider"></div>
		<div id="comments-list">
			<% if @comments.any? %>
				<% @comments.each do |comment| %>
						<%= render comment %>
				<% end %>
			<% end %>
			<%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>

<script type="text/javascript" src="http://player.youku.com/jsapi">
player = new YKU.Player('youkuplayer',{
styleid: '0',
client_id: 'YOUR YOUKUOPENAPI CLIENT_ID',
vid: '<%= @article.vid %>'
});
</script>
