<div class="row">
	<div class="col-md-9">
		<div class="category-header">
			<div class="category-title"><%= @category.name %></div>
			<div class="category-tab">
				<a href="#" class="tab-i">拼音排序</a>/
				<a href="#" class="tab-i">投稿时间排序</a>/
				<a href="#" class="tab-i">视频热度排序</a>
			</div>
			<div class="clear"></div>
		</div>
		
			<% @articles.each do |article| %>
				<div class="category-items col-md-6">
					<div class="category-item">
						<%= render partial: 'categories/article', object: article %>
						<div class="clear"></div>
					</div>
					
				</div>
			<% end %>
			<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
		
	</div>
	<div class="col-md-3">
		<div class="category-header">
			<h4>本区热门</h4>
		</div>
		<div class="index-hot-list">
			<% n = 0 %>
			<% @articles_hot.each do |article_hot| %>
				<div class="index-hot-list-item">
					<span class="label label-default"><%= n+1 %></span> <%= link_to article_hot.title, article_path(article_hot) %>
					<% n += 1 %>
				</div>
			<% end %>
		</div>
	</div>
</div>
